/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    background-color: #2745F2;
    overflow: hidden;
    height: 63px;
}

.navbar ul {
    display: flex;
    justify-content: right;
    margin: 8px 0 0 0;
}

.navbar ul li {
    list-style-type: none;
}

.navbar a {
    float: right;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    font-size: 17px;
    color: #BDC5F2;
}

 a:hover {
    color: #F2F2F2;
}


/* Slide menu */
.side-nav {
    display: block;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #BDC5F2;
    opacity: 0.9;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.side-nav li {
    list-style: none;
}

/* Slide menu links */
.side-nav a {
    display: block;
    padding: 10px 10px 10px 30px;
    color: #415CF2;
    text-decoration: none;
    font-size: 20px;
    transition: 0.3s;
}

.side-nav a:hover {
    color: #F2F2F2;
}

/* Close button "X" on the slide menu */
.side-nav .btn-close {
    position: absolute;
    top: 0;
    right: 22px;
    font-size: 36px;
    margin-left: 50px;
}

/* div "Hello World!" */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Hides navbar links once screen size is at 568px or smaller */
@media (max-width:568px) {
    .navbar-nav a{
        display: none;
    }
}

/* Hides burger button when screen is 568px or greater */
@media (min-width:568px) {
    .open-slide{
        display: none;
    }
}







